
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>会议详情</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/sidebar.css">

    <!--Font Awesonme图标库-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<!--mr margin-right -->
<body>

<div class="container-fluid" > <!--主体容器-->
    <div class="row flex-lg-nowrap"> <!--防溢出-->
        <div class="bg-primary sidebar-div sticky-top" style="width: 240px;" >  <!--侧边导航栏-->
            <% if (usertype === 'undefined'){ %>
            <%- include("unlogsidebar.ejs")%>
            <% }%>
            <% if (usertype === 'unit'){ %>
            <%- include("orgsidebar.ejs",{username: username, usertype:usertype})%>
            <% }%>
            <% if (usertype === 'person'){ %>
            <%- include("personsidebar.ejs",{username: username, usertype:usertype})%>
            <% }%>
        </div><!--侧边导航栏-->


        <div class="bg-light col">  <!--网页主体-->

            <!--头部导航栏-->
            <%- include("headnavbar.ejs", {page_title:'会议详情'})%>
            <!--头部导航栏-->



            <div class="container">
                <label hidden id="cid"><%=cid%></label>
                <div class="row">
                    <div class="col">
                        <div class="btn-group" role="group" style="padding: 0.5rem">
                            <a href="javascript: history.back()">
                                <button type="button" class="btn btn-outline-success">返回列表</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row bg-white" style="margin-bottom: 1rem; border: 2px solid #e9eef2">
                    <div class="col">
                        <form id="form">
                            <div class="form-group row justify-content-center " style="margin-top: 1rem">
                                <h3><%=confer.title%></h3>
                            </div>
                            <div class="form-group row align-items-center" style="margin-left: 0.5rem">
                                <label for="staticEmail" class="col-form-label" style="font-size: 1.2rem;">主办机构:</label>
                                <div class="col">
                                    <input type="text" readonly class="form-control-plaintext" style="font-size: 1.2rem;" id="staticEmail" value="<%=confer.org%>">
                                </div>
                            </div>

                            <div class="form-group row align-items-center" style="margin-left: 0.5rem">
                                <label for="staticEmail" class="col-form-label" style="font-size: 1.2rem;">主办地点:</label>
                                <div class="col">
                                    <input type="text" readonly class="form-control-plaintext" style="font-size: 1.2rem;" id="staticEmail" value="<%=confer.location%>">
                                </div>
                            </div>

                            <div class="form-group row align-items-center" style="margin-left: 0.5rem">
                                <label for="staticEmail" class="col-form-label" style="font-size: 1.2rem;">会议日期:</label>
                                <div class="col">
                                    <input type="text" readonly class="form-control-plaintext" style="font-size: 1.2rem;" id="staticEmail" value="<%=confer.important_dates.conference_start%> 至 <%=confer.important_dates.conference_end%>">
                                </div>
                            </div>

                            <div class="form-group row align-items-center" style="margin-left: 0.5rem">
                                <label for="staticpaperend" class="col-form-label" style="font-size: 1.2rem;">截稿时间:</label>
                                <div class="col">
                                    <input type="text" readonly class="form-control-plaintext" style="font-size: 1.2rem;" id="staticpaperend">
                                </div>
                            </div>

                            <div class="form-group row align-items-center" style="margin-left: 0.5rem">
                                <label for="staticinformend" class="col-form-label" style="font-size: 1.2rem;">录用通知时间:</label>
                                <div class="col">
                                    <input type="text" readonly class="form-control-plaintext" style="font-size: 1.2rem;" id="staticinformend">
                                </div>
                            </div>

                            <div class="form-group row align-items-center" style="margin-left: 0.5rem">
                                <label for="staticregisterend" class="col-form-label" style="font-size: 1.2rem;">注册截止时间:</label>
                                <div class="col">
                                    <input type="text" readonly class="form-control-plaintext" style="font-size: 1.2rem;" id="staticregisterend">
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 1rem; margin-left: 0.5rem" >
                                <label for="staticdes" style="font-size: 1.2rem;">会议简介</label>
                                <textarea class="form-control" id="staticdes" rows="7" placeholder="<%=confer.description%>" style="background: #ffffff" readonly></textarea>
                            </div>

                            <div class="form-group" style="margin-top: 2rem; margin-left: 0.5rem" >
                                <label for="staticinfo" style="font-size: 1.2rem;">征文要求</label>
                                <textarea class="form-control" id="staticinfo" rows="7" placeholder="<%=confer.paper_info%>" style="background: #ffffff" readonly></textarea>
                            </div>

                            <% if (usertype === 'person'){ %>
                            <%- include("condetailbtn.ejs",{confer_id: confer._id})%>
                            <% }%>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdn.staticfile.org/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<script src="/socket.io/socket.io.js"></script> <!-- this script is provided by socket.io at runtime -->
<script>
    var pe = document.getElementById('staticpaperend');
    var ie = document.getElementById('staticinformend');
    var re = document.getElementById('staticregisterend');
    pe.value = '<%=peformat%>';
    ie.value = '<%=ieformat%>'
    re.value = '<%=reformat%>'
</script>


</body>
</html>
