<div class="row">
    <div class="col">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <%if(page === 1){%>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <%}else {%>
                <li class="page-item">
                    <a class="page-link"  href="javascript:void(0);" onclick="changePage(<%=page-1%>)" tabindex="-1">Previous</a>
                </li>
                <%}%>
                <%for(let i = -2; i < 3 ; ++i){%>
                <%if (page+i > 0) {%>
                <%if ( i === 0 ){%>
                <li class="page-item active"><a class="page-link" href="#"><%=page%><span class="sr-only">(current)</span></a></li>
                <%}else{%>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" onclick="changePage(<%=page+i%>)"><%=page+i%></a>
                </li>
                <%}%>
                <%}%>
                <%}%>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" onclick="changePage(<%=page+1%>)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <script>
      function changePage(page) {
        let parmString = new URLSearchParams(window.location.href.split('?')[1]);
        parmString.set('page', page);
        window.location.href = "/meetinfo?" + parmString.toString();
      }
    </script>
</div>